@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Barlow Semi Condensed", sans-serif;
}

:root{
    --Scissors-Gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
    --Paper-Gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
    --Rock-Gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
    --Lizard-Gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
    --Spock-Gradient: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
}


.contenedor__principal{
    width: 100%;
    height: 100vh;
    position: relative;
    background: radial-gradient(circle at center, hsl(214, 51%, 36%), hsl(237, 49%, 15%));

}

/*------------------Seccion de arriba ------------------- */

.contenedor__conjunto{
    width: 80%;
    height: 90px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: 3px solid rgb(160, 160, 160);
    border-radius: 9px;
}

.contenedor__conjunto__logo{
    width: 80px;
    margin-left: 20px;
}

.contenedor__puntaje{
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 6px;
    background-color: white;
}

.contenedor__puntaje__texto{
    font-size: 12px;
    font-weight: 600;
    color: hsl(228, 45%, 44%);

}

.contenedor__puntaje__numero{
    color: rgb(88, 88, 88)
}

/*---------------Seccion main del juego -----------------*/

.contenedor__juego{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contendor__juego__interseccion{
    width: 375px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.contenedor__juego__triangulo{
    width: 300px;
    height: 200px;
}

.ficha__de__juego{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
}

.ficha__de__juego__interior{
    width: 93px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}

.papel{
    background: radial-gradient(circle at center, var(--Paper-Gradient));
    top: 50px;
    left: 30px;
}

.tijera{
    background: radial-gradient(circle at center, var(--Scissors-Gradient));
    top: 50px;
    right: 30px;
}

.roca{
    background: radial-gradient(circle at center, var(--Rock-Gradient));
    top: 200px;
    left: 130px;
}

.ficha__icono{
    width: 45px;
    height: 45px;
}

/*--------------Seccion de reglas del juego--------------*/

.contentedor__reglas__button{
    width: 150px;
    height: 40px;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 9px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

@media (min-width: 1366px){

    .contenedor__conjunto{
        width: 50%;
        height: 150px;
    }

    .contenedor__conjunto__logo{
        width: 160px;
        margin-left: 30px;
    }

    .contenedor__puntaje{
        margin-right: 20px;
    }

    .contenedor__puntaje__texto{
        font-size: 20px;
    }

    .contenedor__puntaje__numero{
        font-size: 50px;
    }

    /* Juego */

    .contenedor__juego{
        top: 300px;
    }

    .contenedor__juego__interseccion{
        background-color: white;
        border: 1px solid rgb(255, 238, 2);
    }

    .contenedor__juego__triangulo{
        width: 250px;
        height: 200px;
    }

    .ficha__de__juego{
        width: 180px;
        height: 180px;
    }

    .ficha__de__juego__interior{
        width: 140px;
        height: 140px;
    }

    .papel{
        top: 0px;
        left: -50px;
    }

    .tijera{
        top: 5px;
        right: -50px;
    }

    .roca{
        top: 220px;
        left: 100px;
    }

    .ficha__icono{
        width: 80px;
        height: 80px;
    }

    /* Seccion de reglas */

    .contentedor__reglas__button{
        bottom: 10%;
        left: 80%;
    }

}