@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Barlow Semi Condensed", sans-serif;
}

:root{
    --Scissors-Gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
    --Paper-Gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
    --Rock-Gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
    --Lizard-Gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
    --Spock-Gradient: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
}


.contenedor__principal{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    background: radial-gradient(circle at center, hsl(214, 51%, 36%), hsl(237, 49%, 15%));

}

/*------------------Seccion de arriba ------------------- */

.contenedor__conjunto{
    width: 80%;
    height: 90px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: 3px solid rgb(160, 160, 160);
    border-radius: 12px;
}

.contenedor__conjunto__logo{
    width: 80px;
    margin-left: 20px;
}

.contenedor__puntaje{
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 6px;
    background-color: white;
}

.contenedor__puntaje__texto{
    font-size: 12px;
    font-weight: 600;
    color: hsl(228, 45%, 44%);

}

.contenedor__puntaje__numero{
    color: rgb(88, 88, 88)
}

/*---------------Seccion main del juego -----------------*/

.contenedor__juego{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

.contenedor__juego__interseccion{
    width: 375px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.contendor__juego__interseccion.espacio__extra{
    height: 560px;
}

.contenedor__juego__triangulo{
    width: 300px;
    height: 200px;
}

.contenedor__juego__triangulo.hidden{
    display: none;
}

.ficha__de__juego{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.ficha__de__juego__interior{
    width: 93px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: -1px 38px 0px -10px rgba(203,203,203,0.36) inset;
    -webkit-box-shadow: -1px 18px 0px -10px rgba(203,203,203,0.36) inset;
    -moz-box-shadow: -1px 38px 0px -10px rgba(203,203,203,0.36) inset;
}

.papel{
    background: radial-gradient(circle at center, var(--Paper-Gradient));
    top: 50px;
    left: 20px;
    transition: all 0.5s ease-in-out;
    box-shadow: -1px -28px 0px -10px rgba(31,0,255,0.36) inset;
    -webkit-box-shadow: -1px -18px 0px -10px rgba(31,0,255,0.36) inset;
    -moz-box-shadow: -1px -28px 0px -10px rgba(31,0,255,0.36) inset;
}

.papel.active{
    display: none;
}

.papel.seleccionado{
    top: 20%;
    left: 10%;
}

.tijera{
    background: radial-gradient(circle at center, var(--Scissors-Gradient));
    top: 50px; right: 20px;
    transition: all 0.5s ease-in-out;
    box-shadow: -1px -14px 0px -10px rgba(144,95,40,0.36) inset;
    -webkit-box-shadow: -1px -18px 0px -10px rgba(144,95,40,0.36) inset;
    -moz-box-shadow: -1px -14px 0px -10px rgba(144,95,40,0.36) inset;
}

.tijera.seleccionado{
    top: 20%; left: 10%;
}

.tijera.active{
    display: none;
}

.roca{
    background: radial-gradient(circle at center, var(--Rock-Gradient));
    top: 230px; left: 130px;
    transition: all 0.4s ease-in-out;
    box-shadow: -1px -14px 0px -10px rgba(165,50,52,0.36) inset;
    -webkit-box-shadow: -1px -18px 0px -10px rgba(165,50,52,0.36) inset;
    -moz-box-shadow: -1px -14px 0px -10px rgba(165,50,52,0.36) inset;
}

.roca.seleccionado{
    top: 20%; left: 10%;
}

.roca.active{
    display: none;
}

.ficha__icono{
    width: 45px; height: 45px;
}

/*-------------Elementos agregados desde JavaScript (ETAPA 2)-----------------*/
.jugador__texto{
    color: white;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 55%; left: 15%;
}

.maquina__texto{
    color: white;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 55%; right: 10%;
}

/*--------------Elementos agregados desde JavaScript (Etapa 3) -------------*/
.papel__maquina{
    display: none;
}

.papel__maquina.seleccionada{
    display: flex;
    top: 20%; left: 58%;
    z-index: 5;
}

.tijera__maquina{
    display: none;
}

.tijera__maquina.seleccionada{
    display: flex;
    top: 20%; left: 58%;
    z-index: 5;
}

.roca__maquina{
    display: none;
}

.roca__maquina.seleccionada{
    display: flex;
    top: 20%; right: -13%;
    margin: auto;
    z-index: 5;
}

.resultado__de__juego{
    color: white;
    position: absolute;
    bottom: 14%;
    font-size: 50px;
    font-weight: 700;
}

.jugar__de__nuevo{
    width: 180px;
    height: 40px;
    position: absolute;
    bottom: 0;
    color: var(--Dark-Text);
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    background-color: white;
    cursor: pointer;
    z-index: 2;
}

/* Contendor transparente */
.contenedor__transparente{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 16%; left: 8%;
    background-color: transparent;
    z-index: 2;
}

/* Circulos que decoran la etapa 3*/
.circulo__num1__ganador{
    width: 160px;
    height: 160px;
    position: absolute;
    top: 15%; left: 5%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.047);
    z-index: 0;
    transition: all 0.5s ease;
}

.circulo__num2__ganador{
    width: 210px;
    height: 210px;
    position: absolute;
    top: 10%; left: -2%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.038);
    z-index: 0;
    transition: all 0.5s ease;
}

.circulo__num3__ganador{
    width: 260px;
    height: 260px;
    position: absolute;
    top: 4%; left: -8%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.038);
    z-index: 0;
    transition: all 0.5s ease;
}

.circulo__num1__perdedor{
    width: 160px;
    height: 160px;
    position: absolute;
    top: 15%; left: 53%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.047);
    z-index: 0;
    transition: all 0.5s ease;
}

.circulo__num2__perdedor{
    width: 210px;
    height: 210px;
    position: absolute;
    top: 10%; left: 47%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.047);
    z-index: 0;
    transition: all 0.5s ease;

}

.circulo__num3__perdedor{
    width: 260px;
    height: 260px;
    position: absolute;
    top: 4%; left: 40%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.047);
    z-index: 0;
    transition: all 0.5s ease;
}

/*--------------Seccion de reglas del juego--------------*/

.contentedor__reglas__button{
    width: 150px;
    height: 40px;
    position: absolute;
    bottom: 50px; left: 0; right: 0;
    margin: auto;
    border-radius: 9px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 18px;
    z-index: 3;
}

.modal__oscuro{
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal__oscuro.active {
    display: flex;
}

.pagina__reglas{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.pagina__reglas.active{
    display: flex;
}

.cerrar__boton__class{
    cursor: pointer;
}

.pagina__reglas__texto{
    font-size: 38px;
    color: var(--Dark-Text);
}

/* -------------------Media quieries para tablet-------------------*/

@media (min-width: 700px){

    .contenedor__conjunto{
        width: 60%;
        height: 150px;
    }

    .contenedor__conjunto__logo{
        width: 160px;
        margin-left: 30px;
    }

    .contenedor__puntaje{
        margin-right: 20px;
    }

    .contenedor__puntaje__texto{
        font-size: 20px;
    }

    .contenedor__puntaje__numero{
        font-size: 50px;
    }

    /* ---------------Juego-------------------- */

    .contenedor__juego{
        top: 250px;
        height: 50%;
    }

    .contenedor__juego__interseccion{
        height: 100%;
        position: relative;     

    }

    .contenedor__juego__interseccion.modo__responsive{
        width: 90%;
        height: 100%;
    }

    .contenedor__juego__triangulo{
        width: 280px;
        height: 230px;
    }

    .ficha__de__juego{
        width: 180px;
        height: 180px;
    }

    .ficha__de__juego__interior{
        width: 140px;
        height: 140px;
    }

    .papel{
        top: 0px;
        left: -50px;
    }

    .tijera{
        top: 5px;
        right: -50px;
    }

    .roca{
        top: 220px;
        left: 100px;
    }

    .ficha__icono{
        width: 80px;
        height: 80px;
    }

    /*Fichas a su lugar despues del reinicio */



    /* -----------Juego (Segunda etapa) Fichas del jugador -------------------*/

     .ficha__de__juego__interior.seleccionado{
        width: 145px;
        height: 145px;
    }

    .papel.seleccionado{
        width: 200px;
        height: 200px;
        top: auto; left: 0;
    }

    .tijera.seleccionado{
        width: 200px;
        height: 200px;
        top: auto; left: 0;
    }

    .roca.seleccionado{
        width: 200px;
        height: 200px;
        top: auto; left: 0;
    }

    /* Texto del jugador segunda etapa*/
    .jugador__texto{
        font-size: 18px;
        top: 0; left: 11%;
    }

    .maquina__texto{
        font-size: 18px;
        top: 0; right: 8%;
    }

    /* ------Juego (Segunda parte) fichas de la maquina ------- */

    .papel__maquina.seleccionada{
        width: 200px;
        height: 200px;
        position: absolute;
        top: auto; 
        left: 69%;
    }

    .tijera__maquina.seleccionada{
        width: 200px;
        height: 200px;
        top: auto; 
        left: 69%;
        margin: none;
    }

    .roca__maquina.seleccionada{
        width: 200px;
        height: 200px;
        top: auto; 
        left: 56%;
        margin: none;
    }

    .ficha__interior__papel__maquina.seleccionado{
        width: 215px;
        height: 215px;
    }

    .ficha__interior__tijera__maquina.seleccionado{
        width: 215px;
        height: 215px;
    }

    .ficha__interior__roca__maquina.seleccionado{
        width: 215px;
        height: 215px;
    }

    /* Tercera etapa del juego */
    .contenedor__transparente{
        width: 290px;
        height: 290px;
        left: 0;
        top: 10%;
    }


    /* ------------Circulos de diseño--------------------------*/
    .circulo__num1__ganador{
        width: 370px;
        height: 370px;
        top: auto;
        left:  -12%;
    }

    .circulo__num2__ganador{
        width: 480px;
        height: 480px;
        top: auto;
        left: -18%;
    }

    .circulo__num3__ganador{
        width: 580px;
        height: 580px;
        top: auto;
        left: -23%;
    }

    .circulo__num1__perdedor{
        width: 370px;
        height: 370px;
        top: auto;
        left: 56%;
    }

    .circulo__num2__perdedor{
        width: 480px;
        height: 480px;
        top: auto;
        left: 50%;
    }

    .circulo__num3__perdedor{
        width: 580px;
        height: 580px;
        top: auto;
        left: 42%;
    }


    /*-----------Boton de reinicio de juego------------------*/
    .resultado__de__juego{
        bottom: 43%;
    }

    .jugar__de__nuevo{
        top: 60%;
    }

    /*----------- Seccion de reglas-------------------------- */

    .contentedor__reglas__button{
        bottom: 10%;
        right: -67%;
    }

    .pagina__reglas{
        width: 500px; height: 500px;
        top: 100px; left: 0; right: 0;
        margin: auto;
        border-radius: 9px;
    }

    .pagina__reglas__texto{
        position: absolute;
        top: 0; left: 0;
        padding: 60px 60px;
    }

    .cerrar__boton__class{
        position: absolute;
        top: 0;
        right: 0;
        padding: 70px 60px;
    }

    .pagina__reglas__img{
        margin-top: 80px;
    }

}

/*------------------Media queries para computadora-------------*/

@media (min-width: 1024px){

    .contenedor__conjunto{
        width: 60%;
        height: 150px;
    }

    .contenedor__conjunto__logo{
        width: 160px;
        margin-left: 30px;
    }

    .contenedor__puntaje{
        margin-right: 20px;
    }

    .contenedor__puntaje__texto{
        font-size: 20px;
    }

    .contenedor__puntaje__numero{
        font-size: 50px;
    }

    /* ---------------Juego-------------------- */

    .contenedor__juego{
        top: 250px;
        height: 55%;
    }

    .contenedor__juego__interseccion{
        height: 100%;
        position: relative;     
    }

    .contenedor__juego__interseccion.modo__responsive{
        width: 60%;
        height: 100%;
    }

    .contenedor__juego__triangulo{
        width: 250px;
        height: 200px;
    }

    .ficha__de__juego{
        width: 180px;
        height: 180px;
    }

    .ficha__de__juego__interior{
        width: 140px;
        height: 140px;
    }

    .papel{
        top: 0px;
        left: -50px;
    }

    .tijera{
        top: 5px;
        right: -50px;
    }

    .roca{
        top: 220px;
        left: 90px;
    }

    .ficha__icono{
        width: 80px;
        height: 80px;
    }

    /*Fichas a su lugar despues del reinicio */



    /* -----------Juego (Segunda etapa) Fichas del jugador -------------------*/

     .ficha__de__juego__interior.seleccionado{
        width: 215px;
        height: 215px;
    }

    .papel.seleccionado{
        width: 280px;
        height: 280px;
        top: auto; left: 0;
    }

    .tijera.seleccionado{
        width: 280px;
        height: 280px;
        top: auto; left: 0;
    }

    .roca.seleccionado{
        width: 280px;
        height: 280px;
        top: auto; left: 0;
    }

    /* Texto del jugador segunda etapa*/
    .jugador__texto{
        font-size: 18px;
        top: 0; left: 11%;
    }

    .maquina__texto{
        font-size: 18px;
        top: 0; right: 8%;
    }

    /* ------Juego (Segunda parte) fichas de la maquina ------- */

    .papel__maquina.seleccionada{
        width: 280px;
        height: 280px;
        position: absolute;
        top: auto; 
        left: 69%;
    }

    .tijera__maquina.seleccionada{
        width: 280px;
        height: 280px;
        top: auto; 
        left: 69%;
        margin: none;
    }

    .roca__maquina.seleccionada{
        width: 280px;
        height: 280px;
        top: auto; 
        left: 56%;
        margin: none;
    }

    .ficha__interior__papel__maquina.seleccionado{
        width: 215px;
        height: 215px;
    }

    .ficha__interior__tijera__maquina.seleccionado{
        width: 215px;
        height: 215px;
    }

    .ficha__interior__roca__maquina.seleccionado{
        width: 215px;
        height: 215px;
    }

    /* Tercera etapa del juego */
    .contenedor__transparente{
        width: 290px;
        height: 290px;
        left: 0;
        top: 10%;
    }


    /* ------------Circulos de diseño--------------------------*/
    .circulo__num1__ganador{
        width: 370px;
        height: 370px;
        top: auto;
        left:  -5%;
    }

    .circulo__num2__ganador{
        width: 480px;
        height: 480px;
        top: auto;
        left: -11%;
    }

    .circulo__num3__ganador{
        width: 580px;
        height: 580px;
        top: auto;
        left: -16%;
    }

    .circulo__num1__perdedor{
        width: 370px;
        height: 370px;
        top: auto;
        left: 65%;
    }

    .circulo__num2__perdedor{
        width: 480px;
        height: 480px;
        top: auto;
        left: 59%;
    }

    .circulo__num3__perdedor{
        width: 580px;
        height: 580px;
        top: auto;
        left: 54%;
    }


    /*-----------Boton de reinicio de juego------------------*/
    .resultado__de__juego{
        
        bottom: 43%;
    }

    .jugar__de__nuevo{
        top: 60%;
    }

    /*----------- Seccion de reglas-------------------------- */

    .contentedor__reglas__button{
        bottom: 10%;
        left: 80%;
    }

    .pagina__reglas{
        width: 500px; height: 500px;
        top: 100px; left: 0; right: 0;
        margin: auto;
        border-radius: 9px;
    }

    .pagina__reglas__texto{
        position: absolute;
        top: 0; left: 0;
        padding: 60px 60px;
    }

    .cerrar__boton__class{
        position: absolute;
        top: 0;
        right: 0;
        padding: 70px 60px;
    }

    .pagina__reglas__img{
        margin-top: 80px;
    }

}

/*----Media queries para tablets y computadoras con un ancho grande----*/
@media (min-width: 1024px) and (min-height: 1366px){

    .contenedor__juego{
        top: 300px;
        height: 60%;
    }

    .contenedor__juego__interseccion{
        height: 50%;
        position: relative;       
    }

    .contenedor__juego__interseccion.modo__responsive{
        width: 90%;
        height: 100%;
    }

}

@media (min-width: 900px) and (min-height: 1366px){

    .contenedor__juego{
        top: 300px;
        height: 60%;
    }

    .contenedor__juego__interseccion{
        height: 40%;
        position: relative;    

    }

    .contenedor__juego__interseccion.modo__responsive{
        width: 90%;
        height: 100%;
    }

}